.preloader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: rgb(40, 20, 60);

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader{
  height: 5rem;
  animation: 0.8s menu_anim infinite linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
