main{
  color: white;
  min-height:100%;
  font-weight:normal;
  line-height:1.5;
  letter-spacing:200%;
  padding: 0;
}

.download_cv{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem 0;
}
.download_cv > *{
  text-align: center;
  font-size: 1.5rem;
  color: white;
}
.titles{
  width: 100%;
  padding:0.5rem 0.5rem;
  color: black;
  background-color: rgba(242,242,242,1);
  text-align: center;
  font-size: 1.25rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 75;
}
.titles_lmf{
  width: 100%;
  height: 0px;
}

@media (orientation: landscape),(min-width:1000px) {
  .download_cv > *{
    width: 40%;
  }
  .my_picture{
    height: 80vh;
  }
}

@media (orientation: portrait) and (max-width:1000px) {
  .download_cv{
    row-gap: 1rem;
  }
  .download_cv > *{
    width: 90%;
    font-size: 1rem;
  }
  .my_picture{
    width: 100%;
  }
}
.my_picture{
  float: right;
}
.article_main{
  width: 100%;
  padding: 1rem;
  text-align: justify;
  text-align-last: center;
}
.article_text{
  font-size: 1.25rem;
}
.all_projects,.all_projects0{
  width: 100%;
  display:flex;
  row-gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}
.all_projects{
  flex-direction: column;
}
.all_projects0{
  flex-direction: row;
  column-gap: 4%;
}
.all_projects_title{
  font-size: 1.5rem;
  width: 100%;
  text-align: center;
}
.one_project, .one_project0{
  background-color: rgba(255, 255, 255, 0.9);
  border-width: 1px;
  border-radius: 1rem;
  padding: 0.5rem;
}
.one_project{
  width: 90%;
  transition: all 0.4s;
}
.one_project0{
  width: 43%;

  border-left: 0 solid orange;
  transition: border-left 300ms ease-in-out;
}
.one_project0:hover{
  border-left: 0.8rem solid orange;
}
.one_project:hover{
  background-color: rgba(255, 255, 255, 0.95);
  transform: translateY(0.5rem);
}

.text_project, .text_project2{
  display:block;
  width: 100%;
  clear:both;
  text-align: left;
  text-align-last: left;
}
.text_project{
  color: black;
  font-size: 1.5rem;
}
.text_project2{
  color: rgb(104, 0, 88);
  font-weight: bold;
  font-size: 1.25rem;
}

.date_project{
  font-size: 1rem;
  height: 2.5rem;
  display: flex;
  align-items: flex-end;
  left:0;
  bottom: 0;
}
.date_project{
  color: black;
  float: left;
}

.logo_project{
  height: 2.5rem;
  display: inline-block;
  float: right;
  right:0;
}
#have_idea{
  width: 100%;
  text-align: center;
}
@media (max-width:750px) {
  .all_projects_title{
    font-size: 1.25rem;
  }
  .text_project{
    font-size: 1rem;
  }
  .text_project2{
    font-size: 0.8rem !important;
    font-weight: normal;
  }
  .date_project{
    font-size: 0.75rem;
    height: 1.5rem;
  }
  .logo_project{
    height: 1.5rem;
  }
  .one_project0{
    width: 90%;
  }
  .one_content, #about_me{
    font-size: 1rem;
  }
}
.my_video{
  margin: 1rem 0;
  border-radius: 5px;
}
#about_me{
  background-color: rgb(255,255,255,0.9) ;
  color: black;
  width: 100%;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
}
.contact_me{
  width: 100%;
  display:flex;
  column-gap: 10%;
  justify-content: center;
}
.contact_me > a{
  height: 3rem;
}
.contact_me > a > img{
  height: 100%;
}
